<?xml version="1.0"?>
<config>
    <modules>
        <Webgraphee_Ogmeta>
            <version>0.1.1</version>
        </Webgraphee_Ogmeta>
    </modules>
    <global>
        <models>
            <webgraphee_ogmeta>
                <class>Webgraphee_Ogmeta_Model</class>
                <resourceModel>webgraphee_ogmeta_resource</resourceModel>
            </webgraphee_ogmeta>
            <webgraphee_ogmeta_resource>
                <class>Webgraphee_Ogmeta_Model_Resource</class>
            </webgraphee_ogmeta_resource>
        </models>
        <blocks>
            <webgraphee_ogmeta>
                <class>Webgraphee_Ogmeta_Block</class>
            </webgraphee_ogmeta>
        </blocks>
        <helpers>
            <webgraphee_ogmeta>
                <class>Webgraphee_Ogmeta_Helper</class>
            </webgraphee_ogmeta>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgraphee_ogmeta>
                    <file>webgraphee_ogmeta.xml</file>
                </webgraphee_ogmeta>
            </updates>
        </layout>
    </frontend>
    <default>
        <webgraphee_ogmeta>
            <og>
                <enabled>0</enabled>
            </og>
        </webgraphee_ogmeta>
    </default>
</config>
